# Final Project

Data Description:

The data consist of a number of worksheets that contain employee information to develop a prediction model for which employees are likely to leave the company. The variables are mostly employee characteristics (e.g. salary, time at the company, age, education, etc...) as well as two manager evaluation measurements (job performance and job involvement. The outcome variable of interest is whether or not the employee leaves the company in the calendar year (labeled attrition).  There are 4410 individuals and 29 variables.

## 2) Provide a link to your data
Your data is required to be free and open to anyone.
As such, you should have a URL which anyone can use to download your data:

https://www.kaggle.com/vjchoudhary7/hr-analytics-case-study

In [2]:
!ls ./data/hr-analytics-case-study

data_dictionary.xlsx
employee_survey_data.csv
general_data.csv
in_time.csv
manager_survey_data.csv
out_time.csv

data_dictionary.xlsx describes variables and is not included below. Similarly, in_time.csv and out_time.csv show timecard entry and exit times for every day for a year for every employee. These data are not used below so are not mentioned further. Data analysis will use data from employee_survey_data.csv, manager_survey_data, and general_data.csv.

## 3) Import your data
In the space below, import your data.
If your data span multiple files, read them all in.
If applicable, merge or append them as needed.

In [15]:
import pandas as pd
import numpy as np

In [16]:
manager_survey = pd.read_csv('C:/htoc/biof309/final-project/data/hr-analytics-case-study/manager_survey_data.csv')
employee_survey = pd.read_csv('C:/htoc/biof309/final-project/data/hr-analytics-case-study/employee_survey_data.csv')
general_data = pd.read_csv('C:/htoc/biof309/final-project/data/hr-analytics-case-study/general_data.csv')

pd.set_option('display.max_columns', None)

#print(employee_survey.shape)
#print(employee_survey.head())
#print(manager_survey.shape)
#print(manager_survey.head())
#print(general_data.shape)
#print(general_data.head())

attrition_data = pd.merge(general_data,pd.merge(manager_survey,employee_survey,on='EmployeeID',how='inner'),
                         on='EmployeeID',how='inner')

## 4) Show me the head of your data.

In [17]:
attrition_data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,JobInvolvement,PerformanceRating,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,1,Healthcare Representative,Married,131160,1.0,Y,11,8,0,1.0,6,1,0,0,3,3,3.0,4.0,2.0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,1,Research Scientist,Single,41890,0.0,Y,23,8,1,6.0,3,5,1,4,2,4,3.0,2.0,4.0
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,4,Sales Executive,Married,193280,1.0,Y,15,8,3,5.0,2,5,0,3,3,3,2.0,2.0,1.0
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,3,Human Resources,Married,83210,3.0,Y,11,8,3,13.0,5,8,7,5,2,3,4.0,4.0,3.0
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,1,Sales Executive,Single,23420,4.0,Y,12,8,2,9.0,2,6,0,4,3,3,4.0,1.0,3.0

## 5) Show me the shape of your data

In [18]:
print(employee_survey.shape)

print(manager_survey.shape)

print(general_data.shape)
print(attrition_data.shape)

(4410, 4)
(4410, 3)
(4410, 24)
(4410, 29)

## 6) Show me the proportion of missing observations for each column of your data

In [36]:
attrition_data.columns = attrition_data.columns.str.lower()
print(attrition_data.shape)
#print(attrition_data.iloc[:,:5].describe(include='all'))
#print(attrition_data.iloc[:5,10].describe(include='all'))
#print(attrition_data.iloc[:10,15].describe())
#print(attrition_data.iloc[:15,20].describe())
#print(attrition_data.iloc[:20,25].describe(include='all'))
print(attrition_data.describe(include='all'))

(4410, 29)
                age attrition businesstravel              department  \
count   4410.000000      4410           4410                    4410
unique          NaN         2              3                       3
top             NaN        No  Travel_Rarely  Research & Development
freq            NaN      3699           3129                    2883
mean      36.923810       NaN            NaN                     NaN
std        9.133301       NaN            NaN                     NaN
min       18.000000       NaN            NaN                     NaN
25%       30.000000       NaN            NaN                     NaN
50%       36.000000       NaN            NaN                     NaN
75%       43.000000       NaN            NaN                     NaN
max       60.000000       NaN            NaN                     NaN

        distancefromhome    education educationfield  employeecount  \
count        4410.000000  4410.000000           4410         4410.0
unique               NaN          NaN              6            NaN
top                  NaN          NaN  Life Sciences            NaN
freq                 NaN          NaN           1818            NaN
mean            9.192517     2.912925            NaN            1.0
std             8.105026     1.023933            NaN            0.0
min             1.000000     1.000000            NaN            1.0
25%             2.000000     2.000000            NaN            1.0
50%             7.000000     3.000000            NaN            1.0
75%            14.000000     4.000000            NaN            1.0
max            29.000000     5.000000            NaN            1.0

         employeeid gender     joblevel          jobrole maritalstatus  \
count   4410.000000   4410  4410.000000             4410          4410
unique          NaN      2          NaN                9             3
top             NaN   Male          NaN  Sales Executive       Married
freq            NaN   2646          NaN              978          2019
mean    2205.500000    NaN     2.063946              NaN           NaN
std     1273.201673    NaN     1.106689              NaN           NaN
min        1.000000    NaN     1.000000              NaN           NaN
25%     1103.250000    NaN     1.000000              NaN           NaN
50%     2205.500000    NaN     2.000000              NaN           NaN
75%     3307.750000    NaN     3.000000              NaN           NaN
max     4410.000000    NaN     5.000000              NaN           NaN

        monthlyincome  numcompaniesworked over18  percentsalaryhike  \
count     4410.000000         4391.000000   4410        4410.000000
unique            NaN                 NaN      1                NaN
top               NaN                 NaN      Y                NaN
freq              NaN                 NaN   4410                NaN
mean     65029.312925            2.694830    NaN          15.209524
std      47068.888559            2.498887    NaN           3.659108
min      10090.000000            0.000000    NaN          11.000000
25%      29110.000000            1.000000    NaN          12.000000
50%      49190.000000            2.000000    NaN          14.000000
75%      83800.000000            4.000000    NaN          18.000000
max     199990.000000            9.000000    NaN          25.000000

        standardhours  stockoptionlevel  totalworkingyears  \
count          4410.0       4410.000000        4401.000000
unique            NaN               NaN                NaN
top               NaN               NaN                NaN
freq              NaN               NaN                NaN
mean              8.0          0.793878          11.279936
std               0.0          0.851883           7.782222
min               8.0          0.000000           0.000000
25%               8.0          0.000000           6.000000
50%               8.0          1.000000          10.000000
75%               8.0          1.000000          15.000000
max               8.0          3.000000          40.000000

        trainingtimeslastyear  yearsatcompany  yearssincelastpromotion  \
count             4410.000000     4410.000000              4410.000000
unique                    NaN             NaN                      NaN
top                       NaN             NaN                      NaN
freq                      NaN             NaN                      NaN
mean                 2.799320        7.008163                 2.187755
std                  1.288978        6.125135                 3.221699
min                  0.000000        0.000000                 0.000000
25%                  2.000000        3.000000                 0.000000
50%                  3.000000        5.000000                 1.000000
75%                  3.000000        9.000000                 3.000000
max                  6.000000       40.000000                15.000000

        yearswithcurrmanager  jobinvolvement  performancerating  \
count            4410.000000     4410.000000        4410.000000
unique                   NaN             NaN                NaN
top                      NaN             NaN                NaN
freq                     NaN             NaN                NaN
mean                4.123129        2.729932           3.153741
std                 3.567327        0.711400           0.360742
min                 0.000000        1.000000           3.000000
25%                 2.000000        2.000000           3.000000
50%                 3.000000        3.000000           3.000000
75%                 7.000000        3.000000           3.000000
max                17.000000        4.000000           4.000000

        environmentsatisfaction  jobsatisfaction  worklifebalance
count               4385.000000      4390.000000      4372.000000
unique                      NaN              NaN              NaN
top                         NaN              NaN              NaN
freq                        NaN              NaN              NaN
mean                   2.723603         2.728246         2.761436
std                    1.092756         1.101253         0.706245
min                    1.000000         1.000000         1.000000
25%                    2.000000         2.000000         2.000000
50%                    3.000000         3.000000         3.000000
75%                    4.000000         4.000000         3.000000
max                    4.000000         4.000000         4.000000

### Show percentage missing in each column
Consider attrition_data.dropna() to avoid possible errors in the logistic regression

In [37]:
(dim1,dim2) = attrition_data.shape

for i in range(dim2) :
        print(attrition_data.columns[i],'\t',round(attrition_data.iloc[:,i].count()/dim1,2))

age 	 1.0
attrition 	 1.0
businesstravel 	 1.0
department 	 1.0
distancefromhome 	 1.0
education 	 1.0
educationfield 	 1.0
employeecount 	 1.0
employeeid 	 1.0
gender 	 1.0
joblevel 	 1.0
jobrole 	 1.0
maritalstatus 	 1.0
monthlyincome 	 1.0
numcompaniesworked 	 1.0
over18 	 1.0
percentsalaryhike 	 1.0
standardhours 	 1.0
stockoptionlevel 	 1.0
totalworkingyears 	 1.0
trainingtimeslastyear 	 1.0
yearsatcompany 	 1.0
yearssincelastpromotion 	 1.0
yearswithcurrmanager 	 1.0
jobinvolvement 	 1.0
performancerating 	 1.0
environmentsatisfaction 	 0.99
jobsatisfaction 	 1.0
worklifebalance 	 0.99

## 7) Give me a problem statement.
Below, write a problem statement. Keep in mind that your task is to tease out relationships in your data and eventually build a predictive model. Your problem statement can be vague, but you should have a goal in mind. Your problem statement should be between one sentence and one paragraph.

A large company named XYZ, employs, at any given point of time, around 4000 employees. However, every year, around 15% of its employees leave the company and need to be replaced with the talent pool available in the job market. The management wants to know which factors they should focus on, in order to curb attrition. Also, they want to know which of these variables is most important.

## 8) What is your _y_-variable?
For final project, you will need to perform a statistical model. This means you will have to accurately predict some y-variable for some combination of x-variables. From your problem statement in part 7, what is that y-variable?

"attrition" is a yes/no outcome indicating which of the 4410 individuals left the company. Many of the variables have 4 or 5 ordinal categories - as detailed in the data_dictionary.xlsx file the higher the number the better the rating/level.

## Analytic approach

There is not a great deal of missing data (less than 1% for each variable, most variables have complete data) so not much data is expected to be lost by focusing just on complete cases.

I want to initially examine the variables by first considering their strength in a univariate logistic regression. This should reveal some of the more important variables and odd results should be noted and examined. However the primary analyses will be multivariable - 1) Lasso logistic regression, and 2) random forest approaches.

In [44]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

attrition_data['attrition'] = np.where(attrition_data['attrition']=="Yes",1,0) # reset attrition as a 0-1 variable

In [48]:
pd.crosstab(attrition_data['attrition'],columns="count")
lmod = LogisticRegression().fit(attrition_data['performancerating'].reshape(-1, 1),attrition_data['attrition'])

AttributeError: 'Series' object has no attribute 'reshape'